.heading
{
    background-color: rgb(3, 16, 26);
    border-radius: 30%;

    margin-top: 150px;
    margin-left:  2rem;
    margin-right: 5rem;
    .h1
    {font-size: 80px;
    margin-bottom: 10px;}
    .s
    {font-size: 120px;
    color: rgb(11, 132, 231);
    }
}
.logo{
        height: 6em;
        padding:0px;
        background-color: rgb(6, 1, 1);
    }
.navbar {
        display: flex;
        margin: 1rem;
        padding: 0rem ;
        position: fixed;
        align-items: center;
        width: 100%;
        background-color:  #d1cfdd;
    .navbar-heading {
            font-weight: 700;
            font-size: 2rem;
            cursor: pointer;
            color: rgb(11, 132, 231);
            width: 23%;
            background-color: #0f0739;
        }
        
.links-container {
        display: flex;
        justify-content: space-between;
        background-color: #0f0739;
        height: 60px;
        width: 77%;
        
    .login-btn{
          width: 15%;
          padding: 0rem;
          background: black;
          border-radius: 1rem;
          margin-right: 20px;
        }
    .link {
            color: white;
            text-decoration: none;
            margin-inline: 2rem;
            padding: 1rem;
            
        }
        
}
    }