@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lilita+One&family=Martel:wght@200;300;400;600;700;800;900&display=swap');


.logo{
        height: 6em;
        padding:0px;
        background-color: rgb(6, 1, 1);
    }
.navbar {
        display: flex;
        margin: 2rem;
        padding: 0rem ;
        position: fixed;
        align-items: center;
        width: 100%;
        margin-left: 10%;
       
    .navbar-heading {
            font-size: 40px;
            cursor: pointer;
            color: rgb(0, 0, 0);
            width: 15%;
            font-family: "Black Ops One", system-ui;

            span{
                color:  rgb(255, 255, 255);
                
            }
            
        }
        
.links-container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 55%;
        font-size: 19px;
       
        
    .login-btn{
          width: 18%;
          padding: 0rem;
          background: black;
          border-radius: 1rem;
          margin-right: 20px;
        }
        .login-btn:hover{
            background-color: #e22860;
            font-weight: 900;
        }
    .link {
            color: white;
            text-decoration: none;
            margin-inline: 1rem;
            padding: 1rem;
            
        }
        
}
    }