@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.logo{
        height: 6em;
        padding:0px;
        background-color: rgb(6, 1, 1);
    }
.navbar {
        display: flex;
        margin: 1rem;
        padding: 0rem ;
        position: fixed;
        align-items: center;
        width: 100%;
        
       
    .navbar-heading {
            
            font-size: 40px;
            cursor: pointer;
            color: rgb(33, 10, 247);
            width: 15%;
            font-family: "Sedan", serif;

            span{
                color:  rgb(255, 255, 255);;
            }
            
        }
        
.links-container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 45%;
        
    .login-btn{
          width: 15%;
          padding: 0rem;
          background: black;
          border-radius: 1rem;
          margin-right: 20px;
        }
    .link {
            color: white;
            text-decoration: none;
            margin-inline: 1rem;
            padding: 1rem;
            
        }
        
}
    }